.cards-memory {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: -90px;
  animation: myAnimation 1s linear;
  @media screen and (max-width: 640px) {
    zoom: 0.9;
  }
  @media screen and (max-width: 580px) {
    zoom: 0.8;
  }
  @media screen and (max-width: 500px) {
    zoom: 0.7;
  }
  @media screen and (max-width: 430px) {
    zoom: 0.6;
  }
  @media screen and (max-width: 370px) {
    zoom: 0.55;
  }
  @media screen and (max-width: 340px) {
    zoom: 0.5;
  }
  &__card-field {
    width: 190px;
    height: 190px;
    background-color: rgba(236, 234, 240, 0.062);
    border-radius: 5px;
  }
  &__field-previous {
    &_used {
      background-color: rgba(53, 48, 122, 0.719);
    }
  }
}

.animate {
  // animation: myAnimation .2s linear;
}

@keyframes myAnimation {
  0% {
    transform: translateX(300px);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
