.matrix {
  width: 100%;
  max-width: 640px;
  height: 480px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  background: url("../../../../assets/images/gameBackgrounds/bgBrown.jpg");
  background: url("../../../../assets/images/gameBackgrounds/bgWood.jpg");
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  user-select: none;
  @media screen and (max-width: 640px) {
    border-radius: 0;
  }
  &__title {
    margin-top: 50px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
  }
}

.matrix__about {
  width: 100%;
  max-width: 640px;
  height: 150px;
  display: flex;
  margin: 0 auto;
}
.matrix__after-board {
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.matrix__message {
  position: relative;
  top: 130px;

  font-size: 17px;
  color: #e1e1e1;

  opacity: 0;
}

.matrix__message_show {
  padding: 0 10px;
  padding: 0 150px;
  opacity: 0;
  white-space: break-spaces;
  animation: 0.3s forwards matrix__message_show;

  @media screen and (max-width: 640px) {
    padding: 0 50px;
  }

  @keyframes matrix__message_show {
    0% {
      opacity: 0;
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.05);
    }

    100% {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

.matrix__tutorial-message_loading {
  position: inherit;
  top: 30px;
  padding: 0 10px;
  color: #e1e1e1;
  font-size: 20px;
  opacity: 0;
  transition: 2s;
  animation: 3s infinite matrix__tutorial-message_loading ease-in-out;

  @keyframes matrix__tutorial-message_loading {
    0% {
      opacity: 1;
      transform: scaleX(1);
    }
    50% {
      opacity: 0.7;
      transform: translateY(3px);
    }

    100% {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

.matrix__tutorial-message_game {
  position: inherit;
  top: 30px;
  padding: 0 10px;
  color: #e1e1e1;
  font-size: 20px;
  opacity: 0;
  transition: 2s;
  animation: 2.5s infinite matrix__tutorial-message_game ease-in-out;

  @keyframes matrix__tutorial-message_game {
    0% {
      opacity: 1;
      transform: scaleX(1);
    }
    50% {
      opacity: 0.7;
      transform: translateY(3px);
    }

    100% {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}
