.start-game {
  &__title {
    margin: 0;
    font-size: 5rem;
    font-weight: normal;
    color: #fff;
  }
  &__description {
    color: #fff;
    font-size: 1.5rem;
    width: 430px;
    margin: 40px auto;
  }
  &__controls {
    max-width: 390px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  &__btn {
    width: 190px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color: rgb(164, 102, 172);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: 0.2s;

    &:hover {
      background-color: rgb(111, 111, 111);
    }
    font-weight: bold;
    transform: rotate(0);
    &_rules {
      background-color: unset;
      border: 2px solid #fff;
      &:hover {
        background-color: #00000040;
      }
    }
  }
  animation: 1.8s forwards start-game-in cubic-bezier(0.19, 1, 0.22, 1);

  @keyframes start-game-in {
    0% {
      opacity: 0;
      transform: translateY(70px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.start-game-out {
  animation: 1s forwards start-game-out cubic-bezier(0.645, 0.045, 0.355, 1);

  @keyframes start-game-out {
    1% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-400px);
    }
  }
}

.start-game_speed-match {
  color: #fff;
  background-color: rgb(164, 102, 172);
  &:hover {
    color: #fff;
    background-color: rgb(131 81 137);
  }
}

.start-game_memory-matrix {
  background-color: rgb(229 117 8);
  &:hover {
    background-color: rgb(191, 98, 4);
  }
}
