.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #dddddd;
}

.td,
.th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
  &_empty {
    font-size: 0;
    color: transparent;
  }
}

.tr:nth-child(odd) {
  background-color: #fff;
}

.no-results {
  text-align: center;
  font-size: 28px;
  color: #dddddd;
}

.scoreTable {
  &__title {
    color: #fff;
    text-align: center;
  }
}
