.board {
  width: 130px;
  height: 130px;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 4px;

  box-sizing: content-box;
  background-color: rgb(56 36 21 / 70%);
  border-radius: 5px;
  transition: all 0.7s;
  animation: board 1s forwards cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes board {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}
