.home {
  position: relative;
  width: 100%;

  padding: 10px 0;
}

.home__container {
  max-width: 1000px;
  max-width: 680px;
  height: 100%;

  margin: 0 auto;
  padding: 0 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px 20px;
}

.home__header {
  margin: 5px auto 0;
  font-size: 25px;
}

.home__date {
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.3;
}
